table tbody tr td{
	padding:5px 8px !important;
}
.box-body{
	display:block !important; 
}

.table td{
	word-break: keep-all;
	white-space:nowrap;
}

.dms-search, .dms-add, .dms-edit, .dms-detail,.dms-delete {
	margin-top: 5px;
}
.dms-search .row,.dms-detail .row {
	margin-bottom: 5px;
	text-align: center;
	margin-top: 10px;
}
.form-control{
	height:34px;
}