<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gacfcasales.dcsweb.dao.ProductDao">

	<!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="Assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require} #{req.value}
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require} #{req.value}
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<select id="selectSysProduct" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				PRODUCT_ID,
				PRODUCT_NO,
				PRODUCT_NAME,
				PRODUCT_CATEGORY,
				PRODUCT_PROPERTY,
				DNP_PRICE,
				MSRP_PRICE,
				(
				CASE
				WHEN RELEASE_STATUS =
				54011001 THEN
				'未发布'
				WHEN RELEASE_STATUS = 54011002 THEN
				'已发布'
				WHEN
				RELEASE_STATUS = 54011003 THEN
				'已取消'
				ELSE
				''
				END
				) RELEASE_STATUS,
				DATE_FORMAT(RELEASE_DATE,'%Y-%m-%d %H:%m:%s') RELEASE_DATE,
				DATE_FORMAT(STOP_DATE,'%Y-%m-%d %H:%m:%s') STOP_DATE,
				(CASE WHEN
				IS_VALID = 12781001 THEN '是' WHEN IS_VALID = 12781002 THEN '否'
				ELSE
				'' END) IS_VALID,
				(CASE WHEN IS_C_SALE = 12781001 THEN '是' WHEN
				IS_C_SALE = 12781002 THEN
				'否' ELSE '' END) IS_C_SALE,
				(CASE WHEN
				PRODUCT_DATE = 12 THEN '12个月'
				WHEN PRODUCT_DATE = 24 THEN '24个月'
				WHEN
				PRODUCT_DATE = 36 THEN '36个月'
				ELSE '' END ) PRODUCT_DATE,
				PRODUCT_MODEL,
				DATE_FORMAT(SALES_DATE_START,'%Y-%m-%d %H:%m:%s')
				SALES_DATE_START,
				DATE_FORMAT(SALES_DATE_END,'%Y-%m-%d %H:%m:%s')
				SALES_DATE_END,
				(
				CASE
				WHEN 1 = 1 THEN
				concat(
				DATE_FORMAT(
				SALES_DATE_START,
				'%Y-%m-%d'
				),
				'--',
				DATE_FORMAT(SALES_DATE_END,
				'%Y-%m-%d')
				)
				ELSE
				''
				END
				)
				SALES_DATE_ALL
			</otherwise>
		</choose>
		from TI_OPI_EXTENDED_DCS
		<if test="require!=null">
			<include refid="Assist" />
		</if>

		<!-- <if test="require!=null"> <include refid="Assist" /> </if> -->
	</select>

	<select id="getSysProductRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_ID) from TI_OPI_EXTENDED_DCS
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<select id="exportProduct" parameterType="com.gacfcasales.common.entity.TiOpiExtendedDCS"
		resultType="map">
		select PRODUCT_ID,
		PRODUCT_NO,
		PRODUCT_NAME,
		PRODUCT_CATEGORY,
		PRODUCT_PROPERTY,
		DNP_PRICE,
		MSRP_PRICE,
		(
		CASE
		WHEN RELEASE_STATUS =
		54011001 THEN
		'未发布'
		WHEN RELEASE_STATUS = 54011002 THEN
		'已发布'
		WHEN
		RELEASE_STATUS = 54011003 THEN
		'已取消'
		ELSE
		''
		END
		) RELEASE_STATUS,
		DATE_FORMAT(RELEASE_DATE,'%Y-%m-%d %H:%m:%s') RELEASE_DATE,
		DATE_FORMAT(STOP_DATE,'%Y-%m-%d %H:%m:%s') STOP_DATE,
		(CASE WHEN
		IS_VALID = 12781001 THEN '是' WHEN IS_VALID = 12781002 THEN '否'
		ELSE ''
		END) IS_VALID,
		(CASE WHEN IS_C_SALE = 12781001 THEN '是' WHEN IS_C_SALE
		= 12781002 THEN '否'
		ELSE '' END) IS_C_SALE,
		(CASE WHEN PRODUCT_DATE = 12
		THEN '12个月'
		WHEN PRODUCT_DATE = 24 THEN '24个月'
		WHEN PRODUCT_DATE = 36
		THEN '36个月'
		ELSE '' END ) PRODUCT_DATE,
		PRODUCT_MODEL,
		DATE_FORMAT(SALES_DATE_START,'%Y-%m-%d %H:%m:%s') SALES_DATE_START,
		DATE_FORMAT(SALES_DATE_END,'%Y-%m-%d %H:%m:%s') SALES_DATE_END,
		(
		CASE
		WHEN 1 = 1 THEN
		concat(
		DATE_FORMAT(
		SALES_DATE_START,
		'%Y-%m-%d'
		),
		'--',
		DATE_FORMAT(SALES_DATE_END, '%Y-%m-%d')
		)
		ELSE
		''
		END
		)
		SALES_DATE_ALL
		from
		TI_OPI_EXTENDED_DCS
		<where>
			<if test="PRODUCT_NO != null and PRODUCT_NO != '' "> and PRODUCT_NO LIKE
				concat(concat('%',#{PRODUCT_NO}),'%')</if>
			<if test="PRODUCT_NAME != null and PRODUCT_NAME != '' "> and PRODUCT_NAME LIKE
				concat(concat('%',#{PRODUCT_NAME}),'%')</if>
			<if test="PRODUCT_CATEGORY != null and PRODUCT_CATEGORY != '' "> and PRODUCT_CATEGORY LIKE
				concat(concat('%',#{PRODUCT_CATEGORY}),'%')</if>
			<if test="PRODUCT_PROPERTY != null and PRODUCT_PROPERTY != '' "> and PRODUCT_PROPERTY LIKE
				concat(concat('%',#{PRODUCT_PROPERTY}),'%')</if>
			<if test="IS_VALID != null and IS_VALID != '0' "> and IS_VALID = #{IS_VALID}</if>
			<if test="PRODUCT_DATE != null and PRODUCT_DATE != '0' "> and PRODUCT_DATE = #{PRODUCT_DATE}</if>
			<if test="RELEASE_STATUS != null and RELEASE_STATUS != '0' "> and RELEASE_STATUS = #{RELEASE_STATUS}</if>
			<if test="PRODUCT_MODEL != null and PRODUCT_MODEL != '' "> and PRODUCT_MODEL = #{PRODUCT_MODEL}</if>
			<if test="IS_C_SALE != null and IS_C_SALE != '0' "> and IS_C_SALE = #{IS_C_SALE}</if>
			<if
				test="releaseStart != null and releaseStart != '' and releaseEnd != null and releaseEnd != '' "> and RELEASE_DATE between #{releaseStart} and #{releaseEnd}
			</if>
			<if test="salesStart != null and salesStart != '' "> and SALES_DATE_START &gt;= #{salesStart} </if>

			<if test=" salesEnd != null and salesEnd != '' "> and SALES_DATE_END &lt;= #{salesEnd} </if>
		</where>

	</select>


	<select id="selectPartInfo" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				DEALER_CODE,
				PART_NO,
				PART_NAME,
				(
				CASE
				WHEN PART_GROUP_CODE =
				11361009 THEN
				'常规零部件'
				WHEN PART_GROUP_CODE = 11361010 THEN
				'第三方'
				WHEN
				PART_GROUP_CODE = 11361005 THEN
				'养护品'
				WHEN PART_GROUP_CODE = 11361011
				THEN
				'电瓶'
				WHEN PART_GROUP_CODE = 11361007 THEN
				'用品'
				WHEN PART_GROUP_CODE
				= 11361008 THEN
				'底盘号相关'
				ELSE
				''
				END
				) PART_GROUP_CODE,
				(
				CASE
				WHEN
				PART_PROPERTY = 80021001 THEN
				'A'
				WHEN PART_PROPERTY = 80021001 THEN
				'B'
				WHEN PART_PROPERTY = 80021003 THEN
				'C'
				ELSE
				''
				END
				) PART_PROPERTY,
				CLAIM_PRICE,
				OEM_LIMIT_PRICE,
				INSTRUCT_PRICE,
				LIMIT_PRICE,
				(
				CASE
				WHEN
				IS_SJV = 12781001 THEN
				'是'
				ELSE
				'否'
				END
				) IS_SJV,
				(
				CASE
				WHEN IS_MOP =
				12781001 THEN
				'是'
				ELSE
				'否'
				END
				) IS_MOP,
				(
				CASE
				WHEN IS_C_SALE = 12781001
				THEN
				'是'
				ELSE
				'否'
				END
				) IS_C_SALE,
				(
				CASE
				WHEN PART_STATUS = 10011001 THEN
				'否'
				ELSE
				'是'
				END
				) PART_STATUS
			</otherwise>
		</choose>
		from TM_PART_INFO

		<if test="require!=null">
			<include refid="Assist" />
		</if>
		GROUP BY PART_NO,PART_NAME
		LIMIT #{startRow},#{rowSize}
		<!-- <if test="require!=null"> <include refid="Assist" /> </if> -->
	</select>


	<select id="getPartInfoRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(*) from
		(select PART_NO,PART_NAME from TM_PART_INFO
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		GROUP BY PART_NO,PART_NAME) tx
	</select>


	<select id="getProductModelList" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				*
			</otherwise>
		</choose>
		from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
		<!-- <if test="require!=null"> <include refid="Assist" /> </if> -->
	</select>

	<select id="getProductModelRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_MODEL_ID) from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<!-- 判断产品是否存在 -->
	<select id="getProductOne" parameterType="com.gacfcasales.common.entity.TmPartInfoPage"
		resultType="map">
		select PRODUCT_ID from TI_OPI_EXTENDED_DCS
		<where>
			<if test="PART_NO != null and PART_NO != '' "> and PRODUCT_NO LIKE
				concat(concat('%',#{PART_NO}),'%')
			</if>
			<if test="PART_NAME != null and PART_NAME != '' "> and PRODUCT_NAME LIKE
				concat(concat('%',#{PART_NAME}),'%')</if>
			<if test="PART_GROUP_CODE != null and PART_GROUP_CODE != '' "> and PRODUCT_CATEGORY LIKE
				concat(concat('%',#{PART_GROUP_CODE}),'%')</if>
			<if test="PART_PROPERTY != null and PART_PROPERTY != '' "> and PRODUCT_PROPERTY LIKE
				concat(concat('%',#{PART_PROPERTY}),'%')</if>
			<if test="CLAIM_PRICE != null  "> and DNP_PRICE = #{CLAIM_PRICE}</if>
			<if test="LIMIT_PRICE != null  "> and MSRP_PRICE = #{LIMIT_PRICE}</if>
			<if test="IS_C_SALE_INT != null and IS_C_SALE_INT != '0' "> and IS_C_SALE = #{IS_C_SALE_INT}</if>
		</where>
	</select>

	<!-- 新增产品信息 -->
	<insert id="insertAndRetuanID" useGeneratedKeys="true"
		keyProperty="PRODUCT_ID" parameterType="com.gacfcasales.common.entity.TmPartInfoPage">

		insert into
		TI_OPI_EXTENDED_DCS(PRODUCT_ID,PRODUCT_NO,PRODUCT_NAME,PRODUCT_CATEGORY,PRODUCT_PROPERTY,DNP_PRICE,MSRP_PRICE,IS_C_SALE,IS_VALID,CREATED_AT)
		values(#{PRODUCT_ID},#{PART_NO},#{PART_NAME},#{PART_GROUP_CODE},#{PART_PROPERTY},#{CLAIM_PRICE},#{LIMIT_PRICE},#{IS_C_SALE_INT},12781001,now())

	</insert>

	<!-- 更新产品信息 -->
	<update id="updateProduct" parameterType="com.gacfcasales.common.entity.TiOpiExtendedDCS">
		update
		TI_OPI_EXTENDED_DCS set
		UPDATED_AT = now(),
		PRODUCT_DATE =
		#{PRODUCT_DATE},
		PRODUCT_MODEL =
		#{PRODUCT_MODEL},
		SALES_DATE_START =
		#{SALES_DATE_START},
		SALES_DATE_END= #{SALES_DATE_END},
		PRODUCT_FAIT=
		#{PRODUCT_FAIT},
		PRODUCT_JEEP= #{PRODUCT_JEEP},
		PRODUCT_CJD=
		#{PRODUCT_CJD},
		PRODUCT_DESCRIBTION= #{PRODUCT_DESCRIBTION}
		where
		PRODUCT_ID=#{PRODUCT_ID}
	</update>

	<!-- 新增车型信息 -->

	<insert id="insertProductModel" parameterType="com.gacfcasales.common.entity.TiOpiExtendedModel">
		insert into
		TI_OPI_EXTENDED_MODEL(PRODUCT_MODEL_ID,
		PRODUCT_ID,
		PRODUCT_NO,
		PRODUCT_NAME,
		PRODUCT_PROPERTY,
		BRAND_CODE,
		BRAND_NAME,
		SERIES_CODE,
		SERIES_NAME,
		MODEL_CODE,
		MODEL_NAME,
		CREATED_AT,
		IS_VALID,
		IS_DELETE,
		PRODUCT_FAIT,
		PRODUCT_JEEP,
		PRODUCT_CJD,
		PRODUCT_CATEGORY,
		BRAND_ID,SERIES_ID,MODEL_ID)
		values(#{PRODUCT_MODEL_ID},
		#{PRODUCT_ID},
		#{PRODUCT_NO},
		#{PRODUCT_NAME},
		#{PRODUCT_PROPERTY},
		#{BRAND_CODE},
		#{BRAND_NAME},
		#{SERIES_CODE},
		#{SERIES_NAME},
		#{MODEL_CODE},
		#{MODEL_NAME},
		now(),
		12781001,
		0,
		#{PRODUCT_FAIT},
		#{PRODUCT_JEEP},
		#{PRODUCT_CJD},
		#{PRODUCT_CATEGORY},
		#{BRAND_ID},#{SERIES_ID},#{MODEL_ID})


	</insert>

	<!-- 删除车型信息 -->
	<delete id="deleteProductModel" parameterType="com.gacfcasales.common.entity.TiOpiExtendedModel">
		<!-- update TI_OPI_EXTENDED_MODEL set IS_DELETE = 1 where PRODUCT_MODEL_ID 
			#{PRODUCT_MODEL_ID} -->
		delete from TI_OPI_EXTENDED_MODEL where PRODUCT_MODEL_ID =
		#{PRODUCT_MODEL_ID}
	</delete>

	<select id="getProductByID" parameterType="java.lang.String"
		resultType="com.gacfcasales.common.entity.TiOpiExtendedDCS">
		select * from
		TI_OPI_EXTENDED_DCS where
		PRODUCT_ID=#{PRODUCT_ID}
	</select>

	<select id="getProductModel" parameterType="com.gacfcasales.common.entity.ModelPage"
		resultType="java.lang.Integer">
		select count(*) from ti_opi_extended_model
		<where>
			<if test="PRODUCT_ID != null and PRODUCT_ID != '' "> and PRODUCT_ID = #{PRODUCT_ID}</if>
			<if test="BRAND_ID != null and BRAND_ID != '' "> and BRAND_ID = #{BRAND_ID}</if>
			<if test="BRAND_CODE != null and BRAND_CODE != '' "> and BRAND_CODE = #{BRAND_CODE}</if>
			<if test="BRAND_NAME != null and BRAND_NAME != '' "> and BRAND_NAME = #{BRAND_NAME}</if>
			<if test="SERIES_ID != null and SERIES_ID != '' "> and SERIES_ID = #{SERIES_ID}</if>
			<if test="SERIES_CODE != null and SERIES_CODE != '' "> and SERIES_CODE = #{SERIES_CODE}</if>
			<if test="SERIES_NAME != null and SERIES_NAME != '' "> and SERIES_NAME = #{SERIES_NAME}</if>
			<if test="MODEL_ID != null and MODEL_ID != '' "> and MODEL_ID = #{MODEL_ID}</if>
			<if test="MODEL_CODE != null and MODEL_CODE != '' "> and MODEL_CODE = #{MODEL_CODE}</if>
			<if test="MODEL_NAME != null and MODEL_NAME != '' "> and MODEL_NAME = #{MODEL_NAME}</if>
		</where>
	</select>

	<update id="updateAndAddProduct" parameterType="com.gacfcasales.common.entity.TiOpiExtendedDCS">
		UPDATE
		TI_OPI_EXTENDED_DCS
		SET PRODUCT_NO
		=#{PRODUCT_NO},PRODUCT_CATEGORY=#{PRODUCT_CATEGORY},
		PRODUCT_NAME=#{PRODUCT_NAME},PRODUCT_PROPERTY=#{PRODUCT_PROPERTY},
		DNP_PRICE=#{DNP_PRICE},MSRP_PRICE=#{MSRP_PRICE},IS_VALID=12781001,UPDATED_AT=now(),
		PRODUCT_DATE=#{PRODUCT_DATE},PRODUCT_MODEL=#{PRODUCT_MODEL},SALES_DATE_START=#{SALES_DATE_START},
		SALES_DATE_END=#{SALES_DATE_END},PRODUCT_FAIT=#{PRODUCT_FAIT},
		PRODUCT_JEEP=#{PRODUCT_JEEP},PRODUCT_CJD=#{PRODUCT_CJD},PRODUCT_DESCRIBTION=#{PRODUCT_DESCRIBTION},
		NON_TAX_COST_PRICE=#{NON_TAX_COST_PRICE},TAX_COST_PRICE=#{TAX_COST_PRICE},
		TERMINAL_NON_SALES_PRICE=#{TERMINAL_NON_SALES_PRICE},TERMINAL_SALES_PRICE=#{TERMINAL_SALES_PRICE}
		WHERE PRODUCT_ID = #{PRODUCT_ID}
	</update>


	<!-- 发布动作 -->
	<update id="releaseProduct" parameterType="java.lang.String">
		UPDATE
		TI_OPI_EXTENDED_DCS SET
		RELEASE_DATE=now(),RELEASE_STATUS=54011002,IS_C_SALE=12781001,UPDATED_AT=now()
		WHERE PRODUCT_ID = #{PRODUCT_ID}
	</update>

	<!-- 取消动作 -->
	<update id="cancelProduct" parameterType="java.lang.String">
		UPDATE
		TI_OPI_EXTENDED_DCS SET
		RELEASE_DATE=NULL,RELEASE_STATUS=54011003,IS_C_SALE=12781002,
		UPDATED_AT=now()
		WHERE PRODUCT_ID = #{PRODUCT_ID}
	</update>


	<select id="getDetailModelList" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				*
			</otherwise>
		</choose>
		from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
		<!-- <if test="require!=null"> <include refid="Assist" /> </if> -->
	</select>

	<select id="getDetailModelRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_MODEL_ID) from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>


	<select id="getDealerDetailList" parameterType="java.lang.String"
		resultType="map">
		select * from TI_OPI_EXTENDED_MODEL
		where
		PRODUCT_ID=#{PRODUCT_ID}
	</select>

	<select id="getDealerListAll" parameterType="java.lang.String"
		resultType="map">
		select concat((@i :=@i
		+ 1),'') AS ORDER_NUM, tx.* FROM
		(SELECT @i := 0) AS it,
		(SELECT
		td.DEALER_CODE,td.DEALER_NAME,
		(CASE WHEN
		td.IS_K4 =10041001 THEN '是' ELSE '否' END) IS_K4,
		(CASE WHEN td.IS_FIAT
		=10041001 THEN '是' ELSE '否' END) IS_FIAT,
		(CASE WHEN td.IS_CJD
		=10041001 THEN '是' ELSE '否' END ) IS_CJD,
		(CASE WHEN toed.PRODUCT_JEEP
		=10041001 THEN '是' ELSE '否' END) PRODUCT_JEEP,
		(CASE WHEN
		toed.PRODUCT_FAIT =10041001 THEN '是' ELSE '否' END) PRODUCT_FAIT,
		(CASE
		WHEN toed.PRODUCT_CJD =10041001 THEN '是' ELSE '否' END)
		PRODUCT_CJD,toed.PRODUCT_ID,topd.BRAND_NAME
		from TM_DEALER td
		LEFT JOIN
		TI_OPI_EXTENDED_DCS toed
		ON td.IS_K4 =
		toed.PRODUCT_JEEP OR td.IS_FIAT =
		toed.PRODUCT_FAIT OR
		td.IS_CJD =
		toed.PRODUCT_CJD
		LEFT JOIN
		TI_OPI_EXTENDED_MODEL topd ON
		toed.PRODUCT_ID = topd.PRODUCT_ID
		WHERE
		toed.PRODUCT_ID=#{PRODUCT_ID}
		AND td.IS_DEL = 0
		GROUP BY
		td.DEALER_CODE,td.DEALER_NAME,toed.PRODUCT_ID,topd.BRAND_NAME) tx
		where tx.IS_K4 = '是' OR tx.IS_FIAT = '是' OR tx.IS_CJD='是'
	</select>

	<update id="updateAndAddProductModel" parameterType="com.gacfcasales.common.entity.TiOpiExtendedDCS">
		UPDATE
		TI_OPI_EXTENDED_MODEL
		SET PRODUCT_NO
		=#{PRODUCT_NO},PRODUCT_CATEGORY=#{PRODUCT_CATEGORY},
		PRODUCT_NAME=#{PRODUCT_NAME},PRODUCT_PROPERTY=#{PRODUCT_PROPERTY},
		IS_VALID=12781001,UPDATED_AT=now(),
		PRODUCT_FAIT=#{PRODUCT_FAIT},
		PRODUCT_JEEP=#{PRODUCT_JEEP},PRODUCT_CJD=#{PRODUCT_CJD}
		WHERE
		PRODUCT_ID = #{PRODUCT_ID}
	</update>


	<update id="updateReleaseStatus" parameterType="map">
		UPDATE
		ti_opi_extended_dcs
		SET RELEASE_STATUS = 54011003,IS_C_SALE =
		12781002,RELEASE_DATE = NULL
		WHERE SALES_DATE_END &lt; #{SALES_DATE_END}
		and RELEASE_STATUS = '54011002' AND IS_C_SALE = '12781001'

	</update>

</mapper>