<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gacfcasales.dmsweb.dao.DmsProductDao">
	<!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="Assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require} #{req.value}
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require} #{req.value}
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>


	<select id="getDmsProductList" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		SELECT
		tipe.PRODUCT_ID,
		tipe.PRODUCT_NO,
		tipe.PRODUCT_NAME,
		(CASE WHEN
		tipe.PRODUCT_CATEGORY = 81021001 THEN '延保' ELSE '道路救援' END)
		PRODUCT_CATEGORY,
		(
		CASE
		WHEN
		tipe.IS_VALID = 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_VALID,
		(
		CASE
		WHEN
		tipe.IS_C_SALE = 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_C_SALE,
		(
		CASE
		WHEN
		tipe.PRODUCT_DATE = 12 THEN
		'12个月'
		WHEN tipe.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN tipe.PRODUCT_DATE = 36 THEN
		'36个月'
		ELSE
		''
		END
		) PRODUCT_DATE,
		tipe.PRODUCT_MODEL,
		tipe.SALES_DATE_START,
		tipe.SALES_DATE_END,
		(
		CASE
		WHEN 1 = 1 THEN
		concat(
		DATE_FORMAT(
		tipe.SALES_DATE_START,
		'%Y-%m-%d'
		),
		'--',
		DATE_FORMAT(tipe.SALES_DATE_END, '%Y-%m-%d')
		)
		ELSE
		''
		END
		)
		SALES_DATE_ALL,
		DATE_FORMAT(tipe.RELEASE_DATE, '%Y-%m-%d')
		RELEASE_DATE,
		(
		CASE
		WHEN tipe.RELEASE_STATUS = 54011001 THEN
		'未发布'
		WHEN
		tipe.RELEASE_STATUS = 54011002 THEN
		'已发布'
		WHEN tipe.RELEASE_STATUS =
		54011003 THEN
		'已取消'
		ELSE
		''
		END
		) RELEASE_STATUS,
		(
		CASE
		WHEN
		tipe.PRODUCT_FAIT = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_FAIT,
		(
		CASE
		WHEN tipe.PRODUCT_JEEP = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_JEEP,
		(
		CASE
		WHEN tipe.PRODUCT_CJD = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_CJD,
		tipe.PRODUCT_DESCRIBTION,
		tipe.NON_TAX_COST_PRICE,
		tipe.TAX_COST_PRICE,
		tipe.TERMINAL_NON_SALES_PRICE,
		tipe.TERMINAL_SALES_PRICE
		FROM
		ti_opi_extended_dcs tipe LEFT JOIN tm_dealer tmd
		ON (tipe.PRODUCT_JEEP
		= tmd.IS_K4 OR tipe.PRODUCT_FAIT =tmd.IS_FIAT OR tipe.PRODUCT_CJD
		=tmd.IS_CJD ) AND (tipe.RELEASE_STATUS= 54011002 OR tipe.RELEASE_STATUS= 54011003)
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
	</select>

	<select id="getDmsProductRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_ID) from ti_opi_extended_dcs tipe LEFT JOIN
		tm_dealer tmd
		ON (tipe.PRODUCT_JEEP = tmd.IS_K4 OR tipe.PRODUCT_FAIT
		=tmd.IS_FIAT OR tipe.PRODUCT_CJD =tmd.IS_CJD ) AND (tipe.RELEASE_STATUS= 54011002 OR tipe.RELEASE_STATUS= 54011003)
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<select id="exportExcel" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		SELECT
		tipe.PRODUCT_ID,
		tipe.PRODUCT_NO,
		tipe.PRODUCT_NAME,
		(
		CASE
		WHEN
		tipe.IS_VALID = 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_VALID,
		(
		CASE
		WHEN
		tipe.IS_C_SALE = 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_C_SALE,
		(
		CASE
		WHEN
		tipe.PRODUCT_DATE = 12 THEN
		'12个月'
		WHEN tipe.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN tipe.PRODUCT_DATE = 36 THEN
		'36个月'
		ELSE
		''
		END
		) PRODUCT_DATE,
		tipe.PRODUCT_MODEL,
		tipe.SALES_DATE_START,
		tipe.SALES_DATE_END,
		(
		CASE
		WHEN 1 = 1 THEN
		concat(
		DATE_FORMAT(
		tipe.SALES_DATE_START,
		'%Y-%m-%d'
		),
		'--',
		DATE_FORMAT(tipe.SALES_DATE_END, '%Y-%m-%d')
		)
		ELSE
		''
		END
		)
		SALES_DATE_ALL,
		DATE_FORMAT(tipe.RELEASE_DATE, '%Y-%m-%d')
		RELEASE_DATE,
		(
		CASE
		WHEN tipe.RELEASE_STATUS = 54011001 THEN
		'未发布'
		WHEN
		tipe.RELEASE_STATUS = 54011002 THEN
		'已发布'
		WHEN tipe.RELEASE_STATUS =
		54011003 THEN
		'已取消'
		ELSE
		''
		END
		) RELEASE_STATUS,
		(
		CASE
		WHEN
		tipe.PRODUCT_FAIT = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_FAIT,
		(
		CASE
		WHEN tipe.PRODUCT_JEEP = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_JEEP,
		(
		CASE
		WHEN tipe.PRODUCT_CJD = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_CJD,
		tipe.PRODUCT_DESCRIBTION,
		(CASE WHEN
		tipe.PRODUCT_CATEGORY = 81021001 THEN '延保' ELSE '道路救援' END)
		PRODUCT_CATEGORY,
		tipe.NON_TAX_COST_PRICE,
		tipe.TAX_COST_PRICE,
		tipe.TERMINAL_NON_SALES_PRICE,
		tipe.TERMINAL_SALES_PRICE
		FROM
		ti_opi_extended_dcs tipe LEFT JOIN tm_dealer tmd
		ON (tipe.PRODUCT_JEEP
		= tmd.IS_K4 OR tipe.PRODUCT_FAIT =tmd.IS_FIAT OR tipe.PRODUCT_CJD
		=tmd.IS_CJD )
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<select id="getProdutByID" parameterType="java.lang.String"
		resultType="map">
		SELECT
		PRODUCT_ID,
		PRODUCT_NO,
		PRODUCT_NAME,
		(
		CASE
		WHEN IS_VALID
		= 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_VALID,
		(
		CASE
		WHEN IS_C_SALE = 12781001
		THEN
		'是'
		ELSE
		'否'
		END
		) IS_C_SALE,
		(
		CASE
		WHEN PRODUCT_DATE = 12 THEN
		'12个月'
		WHEN PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN PRODUCT_DATE = 36 THEN
		'36个月'
		ELSE
		''
		END
		) PRODUCT_DATE,
		PRODUCT_MODEL,
		SALES_DATE_START,
		SALES_DATE_END,
		(
		CASE
		WHEN 1 = 1 THEN
		concat(
		DATE_FORMAT(
		SALES_DATE_START,
		'%Y-%m-%d'
		),
		'--',
		DATE_FORMAT(SALES_DATE_END,
		'%Y-%m-%d')
		)
		ELSE
		''
		END
		) SALES_DATE_ALL,
		DATE_FORMAT(RELEASE_DATE,
		'%Y-%m-%d') RELEASE_DATE,
		(
		CASE
		WHEN RELEASE_STATUS = 54011001 THEN
		'未发布'
		WHEN RELEASE_STATUS = 54011002 THEN
		'已发布'
		WHEN RELEASE_STATUS =
		54011003 THEN
		'已取消'
		ELSE
		''
		END
		) RELEASE_STATUS,
		(
		CASE
		WHEN PRODUCT_FAIT =
		10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_FAIT,
		(
		CASE
		WHEN PRODUCT_JEEP =
		10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_JEEP,
		(
		CASE
		WHEN PRODUCT_CJD =
		10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_CJD,
		(CASE WHEN
		PRODUCT_CATEGORY = 81021001 THEN '延保' ELSE '道路救援' END)
		PRODUCT_CATEGORY,
		PRODUCT_DESCRIBTION,
		NON_TAX_COST_PRICE,
		TAX_COST_PRICE,
		TERMINAL_NON_SALES_PRICE,
		TERMINAL_SALES_PRICE
		FROM
		ti_opi_extended_dcs
		WHERE
		PRODUCT_ID=#{productId}
	</select>

	<select id="getModelByProductId" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				*
			</otherwise>
		</choose>
		from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
		<!-- <if test="require!=null"> <include refid="Assist" /> </if> -->
	</select>

	<select id="getModelByProductIdRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_MODEL_ID) from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<select id="getDealer" parameterType="java.lang.String"
		resultType="map">
		select IS_K4,IS_CJD,IS_FIAT from tm_dealer where DEALER_CODE = #{dealerCode}
		limit 1
	</select>
	<select id="getProductByID" parameterType="java.lang.String"
		resultType="com.gacfcasales.common.entity.TiOpiExtendedDCS">
		select  PRODUCT_ID,
		PRODUCT_NO,
		(CASE WHEN
		PRODUCT_CATEGORY = 81021001 THEN '延保' ELSE '道路救援' END)
		PRODUCT_CATEGORY,
		PRODUCT_NAME,
		PRODUCT_PROPERTY,
		DNP_PRICE,
		MSRP_PRICE,
		SINGLE_DISCOUNT,
		IS_VALID,
		CREATED_BY,
		CREATED_AT,
		UPDATED_BY,
		UPDATED_AT,
		IS_C_SALE,
		PRODUCT_DATE,
		PRODUCT_MODEL,
		SALES_DATE_START,
		SALES_DATE_END,
		RELEASE_DATE,
		RELEASE_STATUS,
		STOP_DATE,
		PRODUCT_FAIT,
		PRODUCT_JEEP,
		PRODUCT_CJD,
		PRODUCT_DESCRIBTION,
		NON_TAX_COST_PRICE,
		TAX_COST_PRICE,
		TERMINAL_NON_SALES_PRICE,
		TERMINAL_SALES_PRICE from
		TI_OPI_EXTENDED_DCS where
		PRODUCT_ID=#{PRODUCT_ID}
	</select>
	
	<select id="getDetailModelList" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		select
		<if test="distinct !=null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				*
			</otherwise>
		</choose>
		from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
		<!-- <if test="require!=null"> <include refid="Assist" /> </if> -->
	</select>

	<select id="getDetailModelRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_MODEL_ID) from TI_OPI_EXTENDED_MODEL
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>
	
</mapper>