<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gacfcasales.dmsweb.dao.DmsSalesDao">
	<!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="Assist">
		<where>
			<foreach collection="require" item="req" separator=" ">
				${req.require} #{req.value}
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
	<sql id="updateAssist">
		<where>
			<foreach collection="assist.require" item="req" separator=" ">
				${req.require} #{req.value}
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>
	<select id="getEntityCode" parameterType="java.lang.String"
		resultType="map">
		select ENTITY_CODE from TM_ENTITY_DEALER_CHANGE where
		DEALER_CODE = #{dearlerCode}
	</select>

	<select id="getUserName" parameterType="map" resultType="map">
		select
		DEALER_CODE,EMPLOYEE_NO,EMPLOYEE_NAME,ORG_CODE,
		IS_VALID FROM
		TM_EMPLOYEE
		WHERE IS_VALID=12781001 AND DEALER_CODE=#{dealerCode} AND
		EMPLOYEE_NO=#{employeeNo}
	</select>

	<select id="getProductList" parameterType="com.gacfcasales.common.Assist"
		resultType="map">
		SELECT
		tipe.PRODUCT_ID,
		tipe.PRODUCT_NO,
		tipe.PRODUCT_NAME,
		(
		CASE
		WHEN
		tipe.IS_VALID = 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_VALID,
		(
		CASE
		WHEN
		tipe.IS_C_SALE = 12781001 THEN
		'是'
		ELSE
		'否'
		END
		) IS_C_SALE,
		(
		CASE
		WHEN
		tipe.PRODUCT_DATE = 12 THEN
		'12个月'
		WHEN tipe.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN tipe.PRODUCT_DATE = 36 THEN
		'36个月'
		ELSE
		''
		END
		) PRODUCT_DATE,
		tipe.PRODUCT_MODEL,
		tipe.SALES_DATE_START,
		tipe.SALES_DATE_END,
		(
		CASE
		WHEN 1 = 1 THEN
		concat(
		DATE_FORMAT(
		tipe.SALES_DATE_START,
		'%Y-%m-%d'
		),
		'--',
		DATE_FORMAT(tipe.SALES_DATE_END, '%Y-%m-%d')
		)
		ELSE
		''
		END
		)
		SALES_DATE_ALL,
		DATE_FORMAT(tipe.RELEASE_DATE, '%Y-%m-%d')
		RELEASE_DATE,
		(
		CASE
		WHEN tipe.RELEASE_STATUS = 54011001 THEN
		'未发布'
		WHEN
		tipe.RELEASE_STATUS = 54011002 THEN
		'已发布'
		WHEN tipe.RELEASE_STATUS =
		54011003 THEN
		'已取消'
		ELSE
		''
		END
		) RELEASE_STATUS,
		(
		CASE
		WHEN
		tipe.PRODUCT_FAIT = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_FAIT,
		(
		CASE
		WHEN tipe.PRODUCT_JEEP = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_JEEP,
		(
		CASE
		WHEN tipe.PRODUCT_CJD = 10041001 THEN
		'是'
		ELSE
		'否'
		END
		) PRODUCT_CJD,
		tipe.PRODUCT_DESCRIBTION,
		tipe.NON_TAX_COST_PRICE,
		tipe.TAX_COST_PRICE,
		tipe.TERMINAL_NON_SALES_PRICE,
		tipe.TERMINAL_SALES_PRICE
		FROM
		ti_opi_extended_dcs tipe LEFT JOIN tm_dealer tmd
		ON (tipe.PRODUCT_JEEP
		= tmd.IS_K4 OR tipe.PRODUCT_FAIT =tmd.IS_FIAT OR tipe.PRODUCT_CJD
		=tmd.IS_CJD )
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
	</select>

	<select id="getProductRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">
		select count(PRODUCT_ID) from ti_opi_extended_dcs tipe LEFT JOIN
		tm_dealer tmd
		ON (tipe.PRODUCT_JEEP = tmd.IS_K4 OR tipe.PRODUCT_FAIT
		=tmd.IS_FIAT OR tipe.PRODUCT_CJD =tmd.IS_CJD )
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<insert id="insertSales" parameterType="com.gacfcasales.common.entity.TtOpiExtendedSales">
		insert into
		TT_OPI_EXTENDED_SALES
		(PRODUCT_SALES_ID,
		PRODUCT_SALES_ORDER,
		PRODUCT_ID,
		PRODUCT_NO,
		PRODUCT_NAME,
		ORDER_STATUS,
		VIN,
		BILLING_AT,
		LICENSE_NO,
		OWNER_NO,
		OWNER_NAME,
		OWNER_PHONE,
		OWNER_MOBILE,
		CUSTOMER_NAME,
		CUSTOMER_CONTACT,
		BRAND_CODE,
		BRAND_NAME,
		SERIES_CODE,
		SERIES_NAME,
		MODEL_CODE,
		MODEL_NAME,
		APACKAGE,
		YEAR_MODEL,
		TAKE_EFFECT_START,
		TAKE_EFFECT_END,
		PURCHASE_NUMBER,
		TERMINAL_NON_SALES_PRICE,
		TERMINAL_SALES_PRICE,
		ACTUAL_NON_SALES_PRICE,
		TOTAL_AMOUNT,
		CREATED_BY,
		CREATED_AT,DEALER_CODE,
		NON_TAX_COST_PRICE,
		TAX_COST_PRICE
		)
		values
		(#{PRODUCT_SALES_ID},
		#{PRODUCT_SALES_ORDER},
		#{PRODUCT_ID},
		#{PRODUCT_NO},
		#{PRODUCT_NAME},
		#{ORDER_STATUS_T},
		#{VIN},
		#{BILLING_AT},
		#{LICENSE_NO},
		#{OWNER_NO},
		#{OWNER_NAME},
		#{OWNER_PHONE},
		#{OWNER_MOBILE},
		#{CUSTOMER_NAME},
		#{CUSTOMER_CONTACT},
		#{BRAND_CODE},
		#{BRAND_NAME},
		#{SERIES_CODE},
		#{SERIES_NAME},
		#{MODEL_CODE},
		#{MODEL_NAME},
		#{APACKAGE},
		#{YEAR_MODEL},
		#{TAKE_EFFECT_START},
		#{TAKE_EFFECT_END},
		#{PURCHASE_NUMBER},
		#{TERMINAL_NON_SALES_PRICE},
		#{TERMINAL_SALES_PRICE},
		#{ACTUAL_NON_SALES_PRICE},
		#{TOTAL_AMOUNT},
		#{CREATED_BY},
		now(),#{DEALER_CODE},
		#{NON_TAX_COST_PRICE},
		#{TAX_COST_PRICE} )

	</insert>


	<select id="getSalesList" parameterType="com.gacfcasales.common.Assist"
		resultType="map">

		select * from
		(select
		ttes.PRODUCT_SALES_ID,ttes.DEALER_CODE,
		ttes.PRODUCT_ID,
		(CASE WHEN
		ttes.ORDER_STATUS=55011001 THEN '已保存'
		WHEN
		ttes.ORDER_STATUS=55011002
		THEN '已结案'
		WHEN ttes.ORDER_STATUS=55011003
		THEN '扣款失败'
		WHEN
		ttes.ORDER_STATUS=55011004 THEN '已作废'
		ELSE '' END)
		ORDER_STATUS,
		ttes.PRODUCT_SALES_ORDER,
		ttes.SAP_SALES_ORDER,
		ttes.PRODUCT_NO,
		ttes.PRODUCT_NAME,
		toed.PRODUCT_DESCRIBTION,
		(CASE WHEN
		toed.PRODUCT_DATE = 12 THEN '12个月'
		WHEN toed.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN toed.PRODUCT_DATE = 36 THEN '36个月'
		ELSE '' END )
		PRODUCT_DATE,
		ttes.CUSTOMER_NAME,
		ttes.CUSTOMER_CONTACT,
		ttes.VIN,
		DATE_FORMAT(ttes.BILLING_AT,'%Y-%m-%d %H:%m:%s') BILLING_AT,
		ttes.LICENSE_NO,
		ttes.OWNER_NO,
		ttes.OWNER_NAME,
		ttes.OWNER_PHONE,
		ttes.OWNER_MOBILE,
		ttes.BRAND_NAME,
		ttes.BRAND_CODE,
		ttes.SERIES_NAME,
		ttes.SERIES_CODE,
		ttes.MODEL_NAME,
		ttes.MODEL_CODE,
		ttes.APACKAGE,
		ttes.YEAR_MODEL,
		DATE_FORMAT(ttes.TAKE_EFFECT_START,'%Y-%m-%d
		%H:%m:%s')
		TAKE_EFFECT_START,
		DATE_FORMAT(ttes.TAKE_EFFECT_END,'%Y-%m-%d
		%H:%m:%s') TAKE_EFFECT_END,
		ctu.USER_NAME CREATE_NAME,
		DATE_FORMAT(ttes.CREATED_AT,'%Y-%m-%d
		%H:%m:%s') CREATED_AT,
		ttes.PURCHASE_NUMBER,
		ttes.TERMINAL_NON_SALES_PRICE,
		ttes.TERMINAL_SALES_PRICE,
		ttes.ACTUAL_NON_SALES_PRICE,
		ttes.TOTAL_AMOUNT,
		ltu.USER_NAME
		CLOSED_NAME,
		DATE_FORMAT(ttes.CLOSED_AT,'%Y-%m-%d %H:%m:%s') CLOSED_AT,
		itu.USER_NAME INVALID_NAME,
		DATE_FORMAT(ttes.INVALID_AT,'%Y-%m-%d
		%H:%m:%s') INVALID_AT
		from
		tt_opi_extended_sales ttes LEFT JOIN
		ti_opi_extended_dcs toed
		ON ttes.PRODUCT_ID = toed.PRODUCT_ID
		LEFT JOIN
		tm_user ctu
		ON ttes.CREATED_BY=ctu.USER_ID
		LEFT JOIN tm_user ltu
		ON
		ttes.CLOSED_BY=ltu.USER_ID
		LEFT JOIN tm_user itu
		ON
		ttes.INVALID_BY=itu.USER_ID) bsm
		<if test="require!=null">
			<include refid="Assist" />
		</if>
		LIMIT #{startRow},#{rowSize}
	</select>

	<select id="getSalesRowCount" parameterType="com.gacfcasales.common.Assist"
		resultType="java.lang.Long">

		select count(*) from
		(select
		ttes.PRODUCT_SALES_ID,ttes.DEALER_CODE,
		ttes.PRODUCT_ID,
		(CASE WHEN ttes.ORDER_STATUS=55011001 THEN '已保存'
		WHEN
		ttes.ORDER_STATUS=55011002 THEN '已结案'
		WHEN ttes.ORDER_STATUS=55011003
		THEN '扣款失败'
		WHEN ttes.ORDER_STATUS=55011004 THEN '已作废'
		ELSE '' END)
		ORDER_STATUS,
		ttes.PRODUCT_SALES_ORDER,
		ttes.SAP_SALES_ORDER,
		ttes.PRODUCT_NO,
		ttes.PRODUCT_NAME,
		toed.PRODUCT_DESCRIBTION,
		(CASE WHEN
		toed.PRODUCT_DATE = 12 THEN '12个月'
		WHEN toed.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN toed.PRODUCT_DATE = 36 THEN '36个月'
		ELSE '' END )
		PRODUCT_DATE,
		ttes.CUSTOMER_NAME,
		ttes.CUSTOMER_CONTACT,
		ttes.VIN,
		DATE_FORMAT(ttes.BILLING_AT,'%Y-%m-%d %H:%m:%s') BILLING_AT,
		ttes.LICENSE_NO,
		ttes.OWNER_NO,
		ttes.OWNER_NAME,
		ttes.OWNER_PHONE,
		ttes.OWNER_MOBILE,
		ttes.BRAND_NAME,
		ttes.BRAND_CODE,
		ttes.SERIES_NAME,
		ttes.SERIES_CODE,
		ttes.MODEL_NAME,
		ttes.MODEL_CODE,
		ttes.APACKAGE,
		ttes.YEAR_MODEL,
		DATE_FORMAT(ttes.TAKE_EFFECT_START,'%Y-%m-%d
		%H:%m:%s')
		TAKE_EFFECT_START,
		DATE_FORMAT(ttes.TAKE_EFFECT_END,'%Y-%m-%d
		%H:%m:%s') TAKE_EFFECT_END,
		ctu.USER_NAME CREATE_NAME,
		DATE_FORMAT(ttes.CREATED_AT,'%Y-%m-%d
		%H:%m:%s') CREATED_AT,
		ttes.PURCHASE_NUMBER,
		ttes.TERMINAL_NON_SALES_PRICE,
		ttes.TERMINAL_SALES_PRICE,
		ttes.ACTUAL_NON_SALES_PRICE,
		ttes.TOTAL_AMOUNT,
		ltu.USER_NAME
		CLOSED_NAME,
		DATE_FORMAT(ttes.CLOSED_AT,'%Y-%m-%d %H:%m:%s') CLOSED_AT,
		itu.USER_NAME INVALID_NAME,
		DATE_FORMAT(ttes.INVALID_AT,'%Y-%m-%d
		%H:%m:%s') INVALID_AT
		from
		tt_opi_extended_sales ttes LEFT JOIN
		ti_opi_extended_dcs toed
		ON ttes.PRODUCT_ID = toed.PRODUCT_ID
		LEFT JOIN
		tm_user ctu
		ON ttes.CREATED_BY=ctu.USER_ID
		LEFT JOIN tm_user ltu
		ON
		ttes.CLOSED_BY=ltu.USER_ID
		LEFT JOIN tm_user itu
		ON
		ttes.INVALID_BY=itu.USER_ID) bsm
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>

	<select id="exportSalesExcel" parameterType="com.gacfcasales.common.Assist"
		resultType="map">

		select * from
		(select
		ttes.PRODUCT_SALES_ID,ttes.DEALER_CODE,
		ttes.PRODUCT_ID,
		(CASE WHEN
		ttes.ORDER_STATUS=55011001 THEN '已保存'
		WHEN
		ttes.ORDER_STATUS=55011002
		THEN '已结案'
		WHEN ttes.ORDER_STATUS=55011003
		THEN '扣款失败'
		WHEN
		ttes.ORDER_STATUS=55011004 THEN '已作废'
		ELSE '' END)
		ORDER_STATUS,
		ttes.PRODUCT_SALES_ORDER,
		ttes.SAP_SALES_ORDER,
		ttes.PRODUCT_NO,
		ttes.PRODUCT_NAME,
		toed.PRODUCT_DESCRIBTION,
		(CASE WHEN
		toed.PRODUCT_DATE = 12 THEN '12个月'
		WHEN toed.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN toed.PRODUCT_DATE = 36 THEN '36个月'
		ELSE '' END )
		PRODUCT_DATE,
		ttes.CUSTOMER_NAME,
		ttes.CUSTOMER_CONTACT,
		ttes.VIN,
		DATE_FORMAT(ttes.BILLING_AT,'%Y-%m-%d %H:%m:%s') BILLING_AT,
		ttes.LICENSE_NO,
		ttes.OWNER_NO,
		ttes.OWNER_NAME,
		ttes.OWNER_PHONE,
		ttes.OWNER_MOBILE,
		ttes.BRAND_NAME,
		ttes.BRAND_CODE,
		ttes.SERIES_NAME,
		ttes.SERIES_CODE,
		ttes.MODEL_NAME,
		ttes.MODEL_CODE,
		ttes.APACKAGE,
		ttes.YEAR_MODEL,
		DATE_FORMAT(ttes.TAKE_EFFECT_START,'%Y-%m-%d
		%H:%m:%s')
		TAKE_EFFECT_START,
		DATE_FORMAT(ttes.TAKE_EFFECT_END,'%Y-%m-%d
		%H:%m:%s') TAKE_EFFECT_END,
		ctu.USER_NAME CREATE_NAME,
		DATE_FORMAT(ttes.CREATED_AT,'%Y-%m-%d
		%H:%m:%s') CREATED_AT,
		ttes.PURCHASE_NUMBER,
		ttes.TERMINAL_NON_SALES_PRICE,
		ttes.TERMINAL_SALES_PRICE,
		ttes.ACTUAL_NON_SALES_PRICE,
		ttes.TOTAL_AMOUNT,
		ltu.USER_NAME
		CLOSED_NAME,
		DATE_FORMAT(ttes.CLOSED_AT,'%Y-%m-%d %H:%m:%s') CLOSED_AT,
		itu.USER_NAME INVALID_NAME,
		DATE_FORMAT(ttes.INVALID_AT,'%Y-%m-%d
		%H:%m:%s') INVALID_AT
		from
		tt_opi_extended_sales ttes LEFT JOIN
		ti_opi_extended_dcs toed
		ON ttes.PRODUCT_ID = toed.PRODUCT_ID
		LEFT JOIN
		tm_user ctu
		ON ttes.CREATED_BY=ctu.USER_ID
		LEFT JOIN tm_user ltu
		ON
		ttes.CLOSED_BY=ltu.USER_ID
		LEFT JOIN tm_user itu
		ON
		ttes.INVALID_BY=itu.USER_ID) bsm
		<if test="require!=null">
			<include refid="Assist" />
		</if>
	</select>


	<select id="selectTtOpiExtendedSales" parameterType="java.lang.String"
		resultType="com.gacfcasales.common.entity.TtOpiExtendedSales">
		SELECT
		*
		FROM
		(
		SELECT
		ttes.PRODUCT_SALES_ID,
		ttes.PRODUCT_ID,
		(
		CASE
		WHEN ttes.ORDER_STATUS = 55011001 THEN
		'已保存'
		WHEN ttes.ORDER_STATUS
		= 55011002 THEN
		'已结案'
		WHEN ttes.ORDER_STATUS = 55011003 THEN
		'扣款失败'
		WHEN
		ttes.ORDER_STATUS = 55011004 THEN
		'已作废'
		ELSE
		''
		END
		) ORDER_STATUS,
		ttes.PRODUCT_SALES_ORDER,
		ttes.SAP_SALES_ORDER,
		ttes.PRODUCT_NO,
		ttes.PRODUCT_NAME,
		toed.PRODUCT_DESCRIBTION,
		(
		CASE
		WHEN toed.PRODUCT_DATE
		= 12 THEN
		'12个月'
		WHEN toed.PRODUCT_DATE = 24 THEN
		'24个月'
		WHEN
		toed.PRODUCT_DATE = 36 THEN
		'36个月'
		ELSE
		''
		END
		) PRODUCT_DATE,
		ttes.CUSTOMER_NAME,
		ttes.CUSTOMER_CONTACT,
		ttes.VIN,
		DATE_FORMAT(
		ttes.BILLING_AT,
		'%Y-%m-%d %H:%m:%s'
		) BILLING_AT,
		ttes.LICENSE_NO,
		ttes.OWNER_NO,
		ttes.OWNER_NAME,
		ttes.OWNER_PHONE,
		ttes.OWNER_MOBILE,
		tmg1.GROUP_ID BRAND_ID,
		ttes.BRAND_NAME,
		ttes.BRAND_CODE,
		tmg2.GROUP_ID
		SERIES_ID,
		ttes.SERIES_NAME,
		ttes.SERIES_CODE,
		tmg3.GROUP_ID MODEL_ID,
		ttes.MODEL_NAME,
		ttes.MODEL_CODE,
		tmg4.GROUP_ID APACKAGE_ID,
		tmg4.GROUP_NAME APACKAGE_NAME,
		ttes.APACKAGE,
		ttes.YEAR_MODEL,
		DATE_FORMAT(
		ttes.TAKE_EFFECT_START,
		'%Y-%m-%d %H:%m:%s'
		)
		TAKE_EFFECT_START,
		DATE_FORMAT(
		ttes.TAKE_EFFECT_END,
		'%Y-%m-%d %H:%m:%s'
		) TAKE_EFFECT_END,
		ctu.USER_NAME CREATE_NAME,
		DATE_FORMAT(
		ttes.CREATED_AT,
		'%Y-%m-%d %H:%m:%s'
		) CREATED_AT,
		ttes.PURCHASE_NUMBER,
		ttes.TERMINAL_NON_SALES_PRICE,
		ttes.TERMINAL_SALES_PRICE,
		ttes.ACTUAL_NON_SALES_PRICE,
		ttes.TOTAL_AMOUNT,
		ltu.USER_NAME
		CLOSED_NAME,
		DATE_FORMAT(
		ttes.CLOSED_AT,
		'%Y-%m-%d %H:%m:%s'
		) CLOSED_AT,
		itu.USER_NAME INVALID_NAME,
		DATE_FORMAT(
		ttes.INVALID_AT,
		'%Y-%m-%d
		%H:%m:%s'
		) INVALID_AT
		FROM
		tt_opi_extended_sales ttes
		LEFT JOIN
		ti_opi_extended_dcs toed ON ttes.PRODUCT_ID =
		toed.PRODUCT_ID
		LEFT JOIN
		tm_user ctu ON ttes.CREATED_BY = ctu.USER_ID
		LEFT JOIN tm_user ltu ON
		ttes.CLOSED_BY = ltu.USER_ID
		LEFT JOIN tm_user
		itu ON ttes.INVALID_BY =
		itu.USER_ID
		LEFT JOIN tm_vhcl_material_group
		tmg1 ON
		ttes.BRAND_NAME=tmg1.GROUP_NAME AND ttes.BRAND_CODE =
		tmg1.GROUP_CODE
		LEFT JOIN tm_vhcl_material_group tmg2 ON
		ttes.SERIES_NAME=tmg2.GROUP_NAME AND ttes.SERIES_CODE =
		tmg2.GROUP_CODE
		LEFT JOIN tm_vhcl_material_group tmg3 ON
		ttes.MODEL_NAME=tmg3.GROUP_NAME AND ttes.MODEL_CODE = tmg3.GROUP_CODE
		LEFT JOIN tm_vhcl_material_group tmg4 ON ttes.APACKAGE=tmg4.GROUP_CODE
		) bsm
		WHERE
		bsm.PRODUCT_SALES_ID = #{PRODUCT_SALES_ID}
		limit 1
	</select>

	<update id="updateSalesInvalid" parameterType="map">
		update
		tt_opi_extended_sales
		set
		ORDER_STATUS=55011004,INVALID_BY=#{INVALID_BY},INVALID_AT=now()
		where
		PRODUCT_SALES_ID =#{PRODUCT_SALES_ID}
	</update>



	<update id="updateSales" parameterType="com.gacfcasales.common.entity.TtOpiExtendedSales">
		update
		TT_OPI_EXTENDED_SALES
		SET
		PRODUCT_SALES_ORDER=#{PRODUCT_SALES_ORDER},
		PRODUCT_ID=#{PRODUCT_ID},
		PRODUCT_NO=#{PRODUCT_NO},
		PRODUCT_NAME=#{PRODUCT_NAME},
		ORDER_STATUS=#{ORDER_STATUS_T},
		VIN=#{VIN},
		BILLING_AT=#{BILLING_AT},
		LICENSE_NO=#{LICENSE_NO},
		OWNER_NO=#{OWNER_NO},
		OWNER_NAME=#{OWNER_NAME},
		OWNER_PHONE=#{OWNER_PHONE},
		OWNER_MOBILE=#{OWNER_MOBILE},
		CUSTOMER_NAME=#{CUSTOMER_NAME},
		CUSTOMER_CONTACT=#{CUSTOMER_CONTACT},
		BRAND_CODE=#{BRAND_CODE},
		BRAND_NAME=#{BRAND_NAME},
		SERIES_CODE=#{SERIES_CODE},
		SERIES_NAME=#{SERIES_NAME},
		MODEL_CODE=#{MODEL_CODE},
		MODEL_NAME=#{MODEL_NAME},
		APACKAGE=#{APACKAGE},
		YEAR_MODEL=#{YEAR_MODEL},
		TAKE_EFFECT_START=#{TAKE_EFFECT_START},
		TAKE_EFFECT_END=#{TAKE_EFFECT_END},
		PURCHASE_NUMBER=#{PURCHASE_NUMBER},
		TERMINAL_NON_SALES_PRICE=#{TERMINAL_NON_SALES_PRICE},
		TERMINAL_SALES_PRICE=#{TERMINAL_SALES_PRICE},
		ACTUAL_NON_SALES_PRICE=#{ACTUAL_NON_SALES_PRICE},
		TOTAL_AMOUNT=#{TOTAL_AMOUNT},
		UPDATED_BY=#{UPDATED_BY},
		UPDATED_AT=now(),
		DEALER_CODE=#{DEALER_CODE}
		WHERE
		PRODUCT_SALES_ID=#{PRODUCT_SALES_ID}
	</update>

	<select id="selectDataToSap" parameterType="java.lang.String"
		resultType="map">
		select tedc.DEALER_CODE,(CASE WHEN 1=1 THEN REPLACE(tcpy.CTCAI_CODE,'CJ','')
		ELSE '' END )
		CTCAI_CODE,toes.PRODUCT_SALES_ID,toes.PRODUCT_SALES_ORDER,toes.VIN,toes.OWNER_PHONE,toes.LICENSE_NO,toes.PURCHASE_NUMBER,toed.PRODUCT_NO,toed.PRODUCT_DESCRIBTION
		from
		tt_opi_extended_sales toes LEFT JOIN ti_opi_extended_dcs toed
		ON toes.PRODUCT_ID = toed.PRODUCT_ID
		LEFT JOIN TM_ENTITY_DEALER_CHANGE tedc ON
		tedc.ENTITY_CODE = toes.DEALER_CODE
		LEFT JOIN TM_COMPANY tcpy ON
		tedc.DEALER_CODE = tcpy.COMPANY_CODE
		where toes.PRODUCT_SALES_ORDER=#{PRODUCT_SALES_ORDER}
		limit 1
	</select>
	
	<!-- 更新SAP信息 -->
	<select id="updateSapData" parameterType="map">
		UPDATE tt_opi_extended_sales
		SET SAP_SALES_ORDER = #{VBELN},
			IS_RESULT = #{IS_RESULT},
			IS_MESSAGE = #{IS_MESSAGE},
			VBELN = #{VBELN},
			KBETR_YJ = #{KBETR_YJ},
			KBETR_ZK = #{KBETR_ZK},
			KBETR_JJ = #{KBETR_JJ},
			KBETR_HS = #{KBETR_HS},
			ORDER_STATUS = #{ORDER_STATUS},
			CLOSED_BY = #{CLOSED_BY},
			CLOSED_AT = #{CLOSED_AT}
		WHERE PRODUCT_SALES_ORDER=#{PRODUCT_SALES_ORDER}
			
	</select>
</mapper>